<html>
   <body>
      <div class="center col-md-12 offset-md-1">
          <h2>
              <font face="Arial" color ="black">
                You can call our customer care:
              </font>
            </h2>
      <h4>
        <font face="Verdana" color ="black">
           
            Calling from India	1860 267 1234 / 1800 209 4555<br>

            Calling from Singapore	800 852 6186<br>

            Calling from overseas	+91 44 6685 4555<br>
        </font> 
       
    </h4>
    <font face="Arial" color ="black">
      <h2>Or you can e-mail us at:

    </h2>
      </font>
      <font face="Verdena" color="red">
        <a href = "mailto:customercareindia@dbs.com">customercareindia@dbs.com</a>
      </font>
      </div>
   </body>
	
</html>
